.startPage{
 /* background-image: url("https://images.unsplash.com/photo-1522252234503-e356532cafd5?auto=format&fit=crop&q=80&w=2650&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
  /*background: #1a1a1a;*/
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  justify-content: flex-start;
  align-items: flex-start;

}
.parentContainer{ /*die Oberfläche zu färben, die der sichtbare Bildschirm ist und nicht mehr*/
  height: 100vh;
  position: sticky;
  /*box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.2);*/
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.productsGalleryBackGround{  /*die Möglichkeit zu färben, solange die Site Inhalt enthält*/
  position: sticky;
 /* box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.2);*/
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Inhalt oben links ausrichten */
  align-items: flex-start; /* Inhalt oben links ausrichten */
}
.topBar {
  display: flex;
  justify-content: flex-end; /* Navigation oben rechts ausrichten */
  align-items: flex-start;
  position: absolute;
  top: 0; /* Oben ausrichten */
  right: 0; /* Rechts ausrichten */
  margin: 8px;
  padding: 0;
}
.content{
  border: 0 solid;
  display: flex;
  flex-direction:column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
 /* justify-content: center;
  align-items: center;
  text-align: center;*/
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 16px;
}
.content h1{
  margin-top: -5px;
  font-size: 56px;
  font-weight: bolder;
  color: #1a1a1a;
/*  margin: 0;*/
}
.content p{
  font-size: 22px;
  margin:15px 0;
  max-width: 550px;
  letter-spacing: 2px;
  color: #1a1a1a;
  /*margin: 0;*/
}
.navbar {
  margin-right: 8px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: none;
  padding: 0;
  list-style: none;
}
.nav-menu{
  display: flex;
}
.nav-item{
  display: inline-block;
  margin-right: 10px;
  height: 100%;
  list-style-type: none;
  border-bottom: 2px solid unset;
}
.nav-item select{
  background-color: #B6B6B4;
  display: inline-block;
  margin-right: 10px;
  height: 100%;
  list-style-type: none;
  border: none;
  border-bottom: 2px solid unset;
  outline: none;
  font-size: 16px;
  text-decoration: none;
  font-family: sans-serif;
  width: auto;
  margin-top: -1px;
}

.nav-item:hover{
 /* text-decoration: none;*/
  /*color: #1a1a1a;*/
  border-bottom: 1px solid black;
}
.navText{
  color: #1a1a1a;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
}
.toggle-button{
  position: absolute;
  top:10px;
  right: 10px;
  display: none; /*bar Button wird verschwunden, nur mit flex angezeigt*/
  flex-direction: column;
  justify-content: flex-start;
  width: 30px;
  height: 23px;
  background-color: #B6B6B4;
  padding: 0;
}
.toggle-button .bar{
  height: 5px;
  width: 100%;
  background-color: #1a1a1a;
  border-radius: 100px;
  margin-top: 2px;
}
@media(max-width: 750px){
 /* .navbar{
    display: none;
    width: 100%;
  }*/
  .toggle-button{
    display: flex;
  }
  .navbar{
    display: none;
    width: 100%;
    margin-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    background-color: unset;
  }
  .navbar .nav-menu{
    flex-direction: column;
    width: 100%;
  }
  .navbar .nav-item{
    text-align: left;
  }
  .navbar.active{
    display: flex;
  }
  .content h1{
    font-size: 64px;
    margin-top: 15px;
  }
  .content p{
    margin-top:45px;
  }
}
.filterProductsInGallery{
  margin-top: 92px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 2px 0;
  background-color: #B6B6B4;
  height: 100%;
  list-style-type: none;
  border: 1px solid black;
  outline: none;
  font-size: 20px;
  text-decoration: none;
  font-family: sans-serif;
  width: auto;
}
.productsGallery{
  display: grid;/* die Produkte sind so nebeneinander */
  grid-template-columns: 1fr 1fr 1fr;/* 3 Produkte in jeder Zeile */
  gap:20px;
  padding-top: 20px;
}
.productCard {
  /*border: 1px solid #2C3359;
  border-radius: 2px;*/
  background-color: #fff;
  padding: 20px;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #2C3359;
  border-radius: 6px;
}
.productFoto{/*CARD*/
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
.productInfoBox{
  margin-top: 10px;
  text-align: center;
}
.productName{
  font-weight: normal;
  font-size: .9rem;
  margin: 10px 0;
  color: #1a1a1a;
}
.productPrice{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.price{
  font-size: 1.5rem;
  font-weight: bold;
  color: #1a1a1a;
}
.productDetails{
  /*text-align: center;
  background-color: #fff;
  padding: 20px;
  border: 1px solid black;
  border-radius: 2px;
  width: 60%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;*/
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%; /* Oder die gewünschte Breite */
  flex: 1;
  padding: 20px;
}
.productDetails img {
/*  display: inline; !* Entfernt Lücken unterhalb des Bildes *!
  height: 100%;
  width: 100%;
  margin-top: 0px;
  padding-top: 0px;*/
  border: 1px solid black;
  border-radius: 4px;
  max-width: 110%;
  height: auto;
  display: block;
  margin-top: 60px;
}
.productText {
  text-align: center;/* später mit der Einkaufsliste & Favoritliste soll das auf (left) gesetzt werden*/
  padding: 20px;
}
.productText h3 {
  font-size: 25px;
  /*margin-top: 10px;*/
}

.productText p {
  font-size: 20px;
 /* margin-top: 5px;*/
}
.showMessage p{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px; /* Füge Padding hinzu, um den Text vom Rahmen abzusetzen */
  width: 100%;
  margin: 0 auto; /* Zentriere das Element horizontal auf der Seite */
  font-size: 23px;
}
.addProductPage, .editProductInfosPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/*form{
  background-color: snow;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
form input{
  background-color: gainsboro;
  border-radius: 6px;
  outline: none;
  padding: 5px 10px;

}*/
.titleAddProduct, .titleEditProduct{
  text-align: center;
  margin-bottom: 30px;
}
.addProductForm, .editProductForm{
  text-align: left;
  border: 1px solid black;
  background-color: snow;
  border-radius: 10px;
  padding: 10px;
  height: 90%;
  width: 200px;
}
.addProductForm input, .editProductForm input, .addProductForm select, .editProductForm select{
  margin-top: 4px;
  margin-bottom: 18px;
  background-color: gainsboro;
  border-radius: 6px;
  outline: none;
  height: 25px;
  width: 175px;
}
.input-container { /*das Euro Zeichen mit dem Inhalt des Feldes einzubinden*/
  position: relative;
  display: inline-block;
}

.input-unit { /*das Euro Zeichen */
  position: absolute;
  top: 35%;
  right: 10px; /* Anpassen, wie weit rechts der Text "Euro" stehen soll */
  transform: translateY(-50%);
  color: #555; /* Farbe des Einheitentexts */
}
.addProductPageButtons, .editProductPageButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
}

.cancelButtonForAddProductPage, .cancelButtonForEditProductPage {
  flex: 1;
  margin-right: 5px;
  background-color: gainsboro;
}

.saveButtonForAddProductPage, .updateButtonForEditProductPage {
  flex: 1;
  background-color: gainsboro;
}
.listButtons{
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  gap: 10px;
}
.editButton, .deleteButton{
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  border: 2px solid #B6B6B4;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  width:auto;
  height: auto;
  padding: 8px 14px;
}
.confirmation-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Grauer Hintergrund mit Transparenz */
  display: flex;
  justify-content: center;/*das Popup ist in der Mitte der Seite (horizontal)*/
  align-items: center;/*das Popup ist in der Mitte der Seite (vertikal)*/
  z-index: 9999; /* Z-Index, um sicherzustellen, dass das Popup über allem anderen liegt */
}

.confirmation-box {
  background: white;
  width: 200px;
  padding: 20px;
  border: 1px solid #000;
  text-align: center;
  border-radius: 5px;
}

.confirmation-box p {
  color: #000;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 10px;
}

.confirm-delete {
  background-color: #ccc;
  color: #000;
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-delete, .okButton {
  background-color: #ccc; /* Graue Hintergrundfarbe für "Abbrechen" */
  color: #000; /* Schwarze Textfarbe */
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}