
body {
 /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;*/
  /*box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.2);*/
  background-color: #B6B6B4;/* #D1D0CE diese Farbe ist heller */
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/*
.active{
  background: #0e0e0e;
  color: white;
  border-radius: 2rem;
  display: inline-block;
}*/
